<%= form_for(@pinpoint, remote: true) do |f| %>
    Enter your place here:
    <%= f.text_field(:place, :id => "address") %><br>
    <button type="button" id="check-on-map">check on Map!</button><br>
    <select class="pinpoint-time">
        <option value="1:00">1:00</option>
        <option value="2:00">2:00</option>
        <option value="3:00">3:00</option>
        <option value="4:00">4:00</option>
        <option value="5:00">5:00</option>
        <option value="6:00">6:00</option>
        <option value="7:00">7:00</option>
        <option value="8:00">8:00</option>
        <option value="9:00">9:00</option>
        <option value="10:00">10:00</option>
        <option value="11:00">11:00</option>
        <option value="12:00" selected>12:00</option>
    </select>
    <select class="pinpoint-time-am">
        <option value='' disabled selected style='display:none;'>Please Choose</option>
        <option value="AM">AM</option>
        <option value="PM" selected>PM</option>
    </select>
    <%= f.hidden_field :time, :class => 'pinpoint-time-hidden', :value => "12:00 PM" %>
    <%= f.hidden_field :cabal_id, :value => @message.cabal_id %>
    <%= f.submit "Add to agenda" %>
<% end %>

<div id="pinpoints_info">
    <% if false %>
        <% @pinpoints.each do |p| %>
            Info:<br>
            <%= p.time %><br>
            <%= p.place %><br>
        <% end %>
    <% end %>
</div>

