<div id="memberslist">
    <strong>Members: </strong>
    <%= @cabal.users.map{|user|user.username}.join(", ")%>
</div>

<br /><br />

<div id="addmembernotice">
</div>

<%= form_tag(add_cabal_member_path(@cabal), remote: true) do %>
    <%= label_tag(:username, "Username to invite to cabal") %>
    <%= text_field_tag(:username, nil, :class => "span2" ) %>
    <%= submit_tag("go", :class=> "submitBtn pull-right" ) %>
<% end %>
