<% @cabal.users.each do |u| %>
    <%= u.username %> 
<% end %>
<br />
<br />
<%= form_tag(add_cabal_member_path(@cabal), method: "post", remote: false) do %>
    <%= label_tag(:username, "User to invite") %>
    <%= text_field_tag(:username, nil, :class => "span2" ) %>
    <%= submit_tag("Invite to cabal") %>
<% end %>
</div>
