<% provide(:title, "Dashboard") %>

<% content_for :head do %>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
<% end %>

            <% if notice %>
                <p class="alert"><%= notice %></p>
            <% end %>
            <% if alert %>
                <p class="alert"><%= alert %></p>
            <% end %>
<% flash.each do |name, msg| %> <%= content_tag :div, msg, :class => "flash_#{name}" %> <% end %>


<div id="cabals_area">
    <div><%= link_to "create new cabal", new_cabal_path, class:"createCabal" %></div>

    <% @cabals.each do |c| %>
        <%= link_to cabal_path(c) do %>
            <div class="cabal">
              <div class="text-center">
                <%= c.name %><br>
                <%= c.activity_date %><br>
                <p class="cabal-members">members: <%= c.members_summary %><p>
              </div>
            </div>
        <% end %>
    <% end %>
    <!--
	<table id="cabals_table">
		<tr class="cabals_table_heading">
      <th>Cabal Name</th>
      <th>Members</th>
      <th>For date</th>
    </tr>
    <% @cabals.each do |c| %>
      <tr class="cabals_table_row">
        <td><%= link_to c.name, cabal_path(c) %>
        <td><%= c.members_summary %></td>
        <td><%= c.activity_date%></td>
      </tr>
    <% end %>
  </table>
  -->
</div>

    
