<% provide(:title, "Cabal") %>
<%= render "mapjs.js" %>
<%= render "directions.js" %>

<div id="cabal_container">

    <div id="map_area">
        <div id="map-canvas">
        </div>
    </div>

    <div id="action-buttons">
        <div id="gochat">CHAT</div>
        <div id="gomembers">INFO</div>
    </div>

    <div id="agenda_area">
        <%= render "agenda" %>
    </div>

    <div id="chat_area">
        <%= render "chat" %>
    </div>

    <div id="member_area">
        <%= render "members" %>
    </div>

</div>


