<!DOCTYPE html>
<html>
    <head>
        <title>DOWN2GO | <%= yield(:title) %></title>
        <script src="http://js.pusher.com/2.1/pusher.min.js" ></script>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <%= yield :head %>
    </head>
    <body>
        <%= render 'partials/navbar' %>
        <div style="padding-top:90px">
            <!--
            <%= link_to "Home", root_url %>
            <%= link_to "Logout", destroy_user_session_path %>
            -->
            <%= yield %>
        </div>
    </body>
</html>
